@{
    ViewData["Title"] = "Equipo";
      int numIntegrante = 0;
}



@foreach(Integrante integrante in ViewBag.Equipo)
{
  numIntegrante++;
  <h2>  INTEGRANTE: @numIntegrante </h2>
  <h3>Nombre de usuario: @integrante.nombreUsuario</h3>
  <h3>Edad: @integrante.edad</h3>
  <h3>Comida favorita: @integrante.comidaFav</h3>
  <h3>Cancion favorita: @integrante.cancionFav</h3>
  <h3>Dinero en su cuenta de banco: @integrante.dineroBanco</h3>
}
<a href = '@Url.Action("Index", "Home")' alt="Cerrar sesion"><h1>Cerrar sesion</h1></a>
